@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
  /* font-weight: 400; */
}
@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "lalehzar";
  src: url("../fonts/Lalezar-Regular.woff2") format("woff2");
}

/* CSS variables */
:root {
  /* Colors */
  --dark-blue: #006ba6;
  --light-blue: #0496ff;
  --yellow: #ffbc42;
  --dark-pink: #d81159;
  --dark-purple: #8f2d56;
  --white: #fafafa;
  --black: #111;
}

/* Globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "vazir";
}

body::-webkit-scrollbar {
  display: none;
}

body.show-mobile-menu {
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

ul {
  list-style-type: none;
}

/* mobile styles */

/* Navbar styling */
header .navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 10px 15px;
}

header .navbar .menu-btn i {
  font-size: 30px;
  transition: 0.3s ease;
  color: var(--yellow);
}

/* header .navbar i.menu:hover {
  color: var(--dark-blue);
} */

header .navbar .nav-list {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 20px 0 0;
  gap: 40px;
  background: var(--yellow);
  transition: right 0.3s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
}

body.show-mobile-menu .navbar .nav-list {
  right: 0;
}

header .navbar .nav-list .menu-exit i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
}

header .navbar .nav-list .menu-exit i:hover {
  color: red;
}

header .navbar .nav-list i {
  margin-left: 10px;
}

header .navbar .nav-list .nav-item a {
  color: var(--black);
  font-size: 18px;
}

header .navbar .nav-list .nav-item a:hover {
  color: var(--white);
}

header .navbar .logo-container a {
  display: flex;
  align-items: center;
}

header .navbar .logo-container .logo-img {
  width: 80px;
  height: auto;
}

header .navbar .logo-container .logo-text {
  font-family: "lalehzar";
  font-size: 28px;
  color: var(--black);
}

/* Hero section styling */
.hero-section {
  margin: 0 auto;
}

.hero-section .img-wrapper {
  text-align: center;
}

.hero-section .img-wrapper img {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  filter: grayscale(20%);
}

.hero-section .hero-content {
  /* width: 100%; */
  text-align: center;
  margin-top: 40px;
  padding: 0 25px;
}

.hero-section .hero-content .hero-title {
  font-size: 32px;
  font-family: "lalehzar";
  margin-bottom: 30px;
  /* border-bottom: 2px solid var(--yellow); */
  /* font-weight: 600; */
}

.hero-section .hero-content .hero-context {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 50px;
}

.hero-section .hero-content .contact-us-btn {
  background: var(--yellow);
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--black);
  border: 1px solid var(--yellow);
  /* transition: 0.3s ease; */
}

.hero-section .hero-content .contact-us-btn:hover {
  background-color: var(--white);
  color: var(--yellow);
}

/* About section styling */
.about-section {
  margin: 70px 0;
  text-align: center;
}

.about-section .img-container {
  margin-bottom: 25px;
}

.about-section .img-container img {
  width: 70%;
  border: 3px solid var(--yellow);
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(20%);
}

.about-section .about-content {
  padding: 0 25px;
}

.about-section .about-content .section-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.about-section .about-content .about-context {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 50px;
}
.about-section .about-content .about-us-btn {
  background: var(--dark-purple);
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  border: 1px solid var(--dark-purple);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  /* transition: 0.3s ease; */
}

.about-section .about-content .about-us-btn:hover {
  background: var(--white);
  color: var(--dark-purple);
}

.services-section {
  text-align: center;
  margin-top: 50px;
}

.services-section .section-title {
  font-size: 22px;
  margin-bottom: 30px;
}

.services-section .services-list {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  gap: 20px;
  margin-bottom: 70px;
}

.services-section .services-list .service-item {
  width: 100%;
  min-height: 600px;
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
  /* padding: 10px 20px; */
}

.services-section .services-list .service-item .service-card a {
  color: var(--black);
}

.services-section .services-list .service-item .service-img-wrap img {
  width: 100%;
  height: 350px;
  filter: grayscale(30%);
}

.services-section .services-list .service-item .service-title {
  font-size: 22px;
  margin: 15px 0 20px;
}

.services-section .services-list .service-item .service-about {
  font-size: 15px;
  padding: 0 20px;
  line-height: 30px;
}

.services-section .services-list .service-item .service-more-btn {
  display: inline-block;
  margin-top: 50px;
  background: var(--dark-blue);
  width: 100%;
  height: 60px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 600;
  border-top: 2px solid var(--dark-blue);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s ease;
  color: var(--white);
}

.services-section .services-list .service-item .service-more-btn:hover {
  background: var(--white);
  color: var(--dark-blue);
}

.footer-section .footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #f2f2f2;
  padding: 60px 0;
}

.footer-section .footer-wrapper .footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  font-size: 18px;
}

.footer-section .footer-wrapper .footer-nav-list a {
  color: var(--black);
}

.footer-section .footer-wrapper .footer-nav-list a:hover {
  color: var(--dark-pink);
}

.footer-section .footer-wrapper .contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-section .footer-wrapper .contact-list i {
  color: var(--dark-pink);
  font-size: 14px;
}

.footer-section .footer-wrapper .contact-list address.address {
  font-family: "vazir";
  font-style: none;
}

.footer-section .footer-wrapper .contact-list .phone-num {
  font-size: 18px;
  color: var(--dark-pink);
}

.footer-section .footer-wrapper .contact-list .phone-num:hover,
.footer-section .footer-wrapper .social i:hover {
  color: var(--yellow);
}

.footer-section .footer-wrapper .social {
  /* text-align: center; */
  margin-top: 15px;
}

.footer-section .footer-wrapper .social i {
  font-size: 24px;
  margin-right: 10px;
}

/* {
  color: var(--yellow);
} */

p.copy-right {
  text-align: center;
  font-size: 14px;
}
/* @media screen and (min-width: 768px) {
  .navbar .menu {
    display: none;
  }

  .navbar .nav-list {
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    background: none;
    padding: 0;
    gap: 20px;
  }

  .menu-exit {
    display: none;
  }
} */
